.dialogs{
    padding: 30px;
    display: grid;
    width: 740px;
    grid-template-areas:
    "d m"
    "t t";
    grid-template-columns: 2fr 10fr;
}

.dialogsItems{
    grid-area: d;
    padding: 10px;
}
.dialogsItems .active {
    color: gold;
}

.dialog a{
    color: #000000;
    text-decoration: none;
}

.dialog a:active,
.dialog a:focus {
    color: gold;
}

.messages{
    text-align: right;
    grid-area: m;
    padding: 30px;
}

.inputBlock {
    text-align: right;
    grid-area: t;
    padding: 30px;
}

.button {
    border-color: white;
    height: 40px;
    border-radius: 8px;
    color: black;
    transition: .2s linear;
    background: antiquewhite;
}

.button:hover {
    box-shadow: 0 0 0 2px white, 0 0 0 3px darkgrey;
}